
.navOptions {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap onto new lines */
    justify-content: flex-start; /* Align items to the start of the container */
    padding: 2vmax;
    background-color: white;
    box-sizing: border-box;
}
